# Virtual environment
venv/
ENV/
env/
.venv/
.env/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

#Kaggle data set
flowers

flower_classification_model.h5
X_test.npy
X_train.npy
y_test.npy
y_train.npy